<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.anyrtc.aruicall">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
       >
        <activity android:name=".BaseCallActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <service android:name=".utils.ARUICallService"
            android:enabled="true"
            android:exported="false" ></service>
    </application>

</manifest>